@page
@model SimpleBillPay.Pages.BillPay.IndexModel

@{
    ViewData["Title"] = "Summary";
}
<style>
    table.table td.summary {
        padding-left: 48px;
    }
</style>
<h2>Summary</h2>

<div class="pull-left">
    <a 
        asp-page="Create"
        class="btn btn-success">
       <span class="glyphicon glyphicon-plus"></span>&nbsp Create New
    </a>
</div>
<div class="pull-right">
    <a
        asp-page="Index"
        asp-route-direction=@( Model.Direction == IndexModel.ListDirection.FUTURE ? "retro" : "future")
        class="btn btn-info">
        <span
            class="glyphicon glyphicon-@( Model.Direction == IndexModel.ListDirection.FUTURE ? "time" : "calendar" )"></span>
            &nbsp@(Model.Direction == IndexModel.ListDirection.FUTURE ? "History" : "Scheduled")
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Payment Date
            </th>
            <th>
                Starting Balance
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (SimpleBillPay.Models.BillPay billPay in Model.BillPays) 
{
        <tr class="active">
            <td>
                @billPay.BillPayDate.ToString("MM/dd/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => billPay.StartingAmount)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@billPay.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@billPay.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@billPay.ID">Delete</a>
            </td>
        </tr>
    @if(billPay.Payments != null && billPay.Payments.Count > 0)
    {
        <tr class="summary">
            <td colspan="3" class="summary">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>
                                Bill Due Date
                            </th>
                            <th>
                                Bill Name
                            </th>
                            <th>
                                Balance
                            </th>
                            <th>
                                Payment Amount
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach(SimpleBillPay.Models.Payment payment in billPay.Payments
                        .OrderBy(p => p.BillInstance.DueDate)
                        .ToList())
                    {
                        <tr @if(payment.DateConfirmed != null && payment.DateConfirmed > DateTime.MinValue)
                            { 
                                <text>class="success"</text>
                            } >
                            <td>
                                @payment.BillInstance.DueDate.ToString("MM/dd/yyyy")
                            </td>
                            <td>
                                @payment.BillInstance.Name
                            </td>
                            <td>
                                @payment.PriorBalance.ToString("0.00")
                            </td>
                            <td>
                                @payment.Amount.ToString("0.00")
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </td>
        </tr>
    }
}
    </tbody>
</table>
@if(Model.BillPays.Count == 0)
{
    <div class="alert alert-warning" role="alert">No payments scheduled.</div>
}
@if(Model.CurrentPage > 1)
{
    <a 
        class="btn btn-sm btn-default"
        asp-page="./Index"
        asp-route-pagenumber=@(Model.CurrentPage - 1)>
        <span class="glyphicon glyphicon-menu-left"></span>
    </a>
}
@if(Model.CurrentPage < Model.TotalPages)
{
    <a 
        class="btn btn-sm btn-default"
        asp-page="./Index"
        asp-route-pagenumber=@(Model.CurrentPage + 1)>
        <span class="glyphicon glyphicon-menu-right"></span>
    </a>
}
